<br>
<br>
<br>
<div class="container">
    <app-ajoufilm></app-ajoufilm>
    <br>
    <br>
    <br>
    <table mat-table [dataSource]="movie" #mytable matSort>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let  row; columns: columns;"></tr>
        <div matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let t"><img src={{t.img}} alt="" width="80" height="80" /></td>
        </div>
        <div matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom de Filme</th>
            <td mat-cell *matCellDef="let t">{{ t.name}}</td>
        </div>
        <div matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Temps</th>
            <td mat-cell *matCellDef="let t">{{ t.time}}</td>
        </div>
        <div matColumnDef="prix" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef>Prix</th>
            <td mat-cell *matCellDef="let t">{{ t.prix}} TND</td>
        </div>
        <div matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let t">
                <!-- <a href="#" [routerLink]="['/movie/', t._id, 'view']" class="btn btn-default">
                    <i class="bi bi-info-square-fill"></i>
                </a> -->

                <app-editfilm [productId]="t._id"></app-editfilm>

                <button type="button" (click)=" deletMovie(t._id)" class="btn btn-default">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                </button>

            </td>
        </div>

    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>